@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
.App {
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cinzel", serif;
  color: white;
}
.RandomCard {
  height: 30%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.RandomCard h1 {
  font-size: 12rem;
}
#button {
  margin: 2rem;
  /* background-color: rgb(175, 43, 19); */
  font-size: 2rem;
  border-radius: 1%;
}
